body
  margin-top 50px
a
  color blue
  text-decoration none

.navbar
  display block
  position absolute
  top 0
  left 0
  right 0
  height 50px
  ul
    list-style none
    li
      display inline-block
      padding 0 10px
