extends layout

block content
  .editzone
    form(action="save")
      label
        | Post title:
        input#title(name='title', value="#{post.title}")
      label
        | url:
        input#slug(name='slug', value="#{post.slug}")
      label
        | Post type:
        select
          option post
          option page
        
      textarea.textarea#textarea(name='content', onkeypress="markIt()")
        | #{post.content}
      button(type="submit")
        | save

      
  .resultzone#resultzone
    | TEST

  a(href="/generate")
    | generate file
