doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='/javascripts/jquery.js')
    script(src='/javascripts/marked.js')
    script(src='/javascripts/exst.js')
  body
    block content
