doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/codemirror.css')
    script(src='/javascripts/codemirror.js')
    script(src='/javascripts/markdown.js')
    script(src='/javascripts/marked.js')
    script(src='/javascripts/exst.js')
  body
    block content
