extends layout

block content
  .editzone
    form(action="tomd")  
      textarea.textarea#textarea(name='thestr')
      button(type="submit")
        | save

      
  .resultzone#resultzone
    pre
      | #{text}
