body
  padding: 0px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif

.editzone
  position absolute
  top 0
  bottom 0
  left 27%
  right 10%

.sidebar
  position absolute
  top 0
  left 0
  bottom 0
  width 25%
  .sidebar-content
    padding 10px

.infozone
  height 80px

.editzone-content
  position relative
  width 100%
  height calc(100% - 100px)

#posttitleinput
#postslug
  width calc(100% - 22px)
  height 20px
  padding 4px 8px
  margin 0
  margin-top 10px
  font-size 15px
  display block
  border 1px solid #aaa
  &:focus
    outline none

#postslug
  width calc(80%)
  display inline-block
  
.CodeMirror
  position absolute
  top 0px
  bottom 0
  right 0
  left 0
  height auto
  padding 10px 5px
  border 1px solid #aaa

  .cm-header
    color #111
  .cm-header-3
    font-size 16px
  .cm-header-2
    font-size 18px
  .cm-header-1
    font-size 20px
